@using FProjectCamping.Models.ViewModels.Roomtypes
@{
    ViewBag.Title = "房型";
    //var hotRooms = ViewBag.Rooms as List<RoomtypeVM>;
    var rooms = ViewBag.Rooms as List<RoomtypeVM>;
}


<main>
    <div class="main">


        <div class="mainarearoom">

            <div id="contentToShowByDefault">
                <div id="doubleRoomInfo">
                    <div class="row-room">
                        <div class="row">


                            <div class="col-lg-5">
                                <img src="/files/@Model.ProductPhoto" width="100" height="100" style="width:500px;object-fit:scale-down;">
                            </div>

                            <div class="col-lg-7">
                                <h2>@Model.name@Model.RoomType.RooName</h2>
                                <div class="separator3"></div>
                                <ul>
                                    <li>
                                        平日價格：@Model.WeekendPrice
                                    </li>
                                    <li>
                                        假日價格：@Model.WeekdayPrice
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section css{
    <link rel="stylesheet" href="~/Content/Roomtype.css">
}